<ng-container *ngIf="coupons !== undefined && coupons.length>0; then thenTemplate; else elseTemplate"></ng-container>
<ng-template #thenTemplate>

    <!-- Cards Start -->
    <section class="details-card">
        <div class="container" *ngFor="let p of coupons">
            <div class="row">
                <div class="col-md-4">
                    <div class="card-content">
                        <div class="card-img">
                            <img src="https://placeimg.com/380/230/nature" alt="Image">
                            <span>
                                <button style="border:none;" (click)="removeCoupon(p);">Remove ❌</button>
                            </span>
                        </div>
                        <div class="card-desc">
                            <h3>Coupon</h3>
                            <p>{{p.title}}</p>
                            <div class="dropdown-divider"></div>
                            <p>{{p.description}}</p>
                            <p>Start date at: {{p.startDate | date: 'dd MMMM yyyy'}}</p>
                            <p>Expired at: {{p.endDate| date: 'dd MMMM yyyy'}}</p>
                            <p>Amount: {{p.amount}}</p>
                            <p>Price: {{p.price}}$</p>
                            <!-- <a class="btn-card" routerLink="/coupon-details/{{p.id}}">Read</a> -->
                            <button style="border:none;" class="btn-card" (click)="purchaseCouponAsCustomer(p);">Buy</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Cards End -->

    <!-- --------------------------------------------------- -->

    <!-- <div>
        <table>
            <tr>
                <th> Delete </th>
                <th> Title </th>
                <th> Description </th>
                <th> Start date </th>
                <th> End date </th>
                <th> Amount </th>
                <th> Price </th>
                <th> Image </th>
            </tr>
            <tr *ngFor="let p of coupons" >
                <td> <button (click)="removeCoupon(p);">Remove</button></td>
                <td>
                    <a routerLink="/coupon-details/{{p.id}}">{{p.title}}</a>
                </td>
                <td>{{p.description}}</td>
                <td>{{p.startDate | date: 'dd MMMM yyyy'}}</td>
                <td>{{p.endDate| date: 'dd MMMM yyyy'}}</td>
                <td>{{p.amount}}</td>
                <td>{{p.price}}</td>
                <td>
                    <app-thumbnail imageSource="{{p.image}}"></app-thumbnail>
                </td>
            </tr>
        </table> -->
    <!-- <button (click)="deleteCoupons();">Delete</button> -->
    <!-- </div> -->
</ng-template>
<ng-template #elseTemplate>
    <app-empty-view msg="Nothing in your cart. hurry up before anything is run out!"></app-empty-view>
</ng-template>