<ul class="nav">
    <li><a [ngClass]=" isCustomerView ? 'active' : 'inactive' "class="nav-link" (click)="isCustomersSelected()">My Customers</a></li>
    &nbsp;
    <li><a [ngClass]=" isCouponView ? 'active' : 'inactive' " class="nav-link" (click)="isCouponsSelected()" >Coupons 🎟️</a></li>  
    &nbsp;
    <li><a [ngClass]=" isAddCouponView ? 'active' : 'inactive' " class="nav-link" (click)="isAddCouponSelected()" >Add Coupon </a></li>  
  </ul>
  
  <br>

  <ng-container *ngIf="isCustomerView; then thenTemplate; else elseTemplate"></ng-container>
  <ng-template #thenTemplate>
      <app-customer-list [customers]="customers"></app-customer-list>

  </ng-template>
  <ng-template #elseTemplate>
      <ng-container *ngIf="isCouponView; then thenTemplate2; else elseTemplate2"></ng-container>
      <ng-template #thenTemplate2>
        <app-coupons-list [isCompany]=true [coupons]=coupons></app-coupons-list>
      </ng-template>
      <ng-template #elseTemplate2>
          <ng-container *ngIf="isAddCouponView; then thenTemplate3; else elseTemplate3"></ng-container>
          <ng-template #thenTemplate3>
              <app-add-coupon ></app-add-coupon>
          </ng-template>
          <ng-template #elseTemplate3>
              
          </ng-template>
      </ng-template>
  </ng-template>
  