<!-- Load icon library -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


<ul class="nav">
  <!--  -->
  <input type="text" placeholder="Search.." name="search">
  <button type="submit" ><i class="fa fa-search"></i></button>  
  <!--  -->
  <li><a [ngClass]=" isCompanyView ? 'active' : 'inactive' " class="nav-link"
      (click)="isCompaniesSelected()">Companies</a></li>
  &nbsp;
  <li><a [ngClass]=" isCustomerView ? 'active' : 'inactive' " class="nav-link"
      (click)="isCustomersSelected()">Customers</a></li>
  &nbsp;
  <li><a [ngClass]=" isCouponView ? 'active' : 'inactive' " class="nav-link" (click)="isCouponsSelected()">Coupons
      🎟️</a></li>
  &nbsp;
  <li><a [ngClass]=" isCartView ? 'active' : 'inactive' " class="nav-link" (click)="isCartSelected()">My Cart 🛒</a>
  </li>

</ul>

<br>

<ng-container *ngIf="isCompanyView ; then thenTemplate; else elseTemplate"></ng-container>
<ng-template #thenTemplate>
  <app-companies [isAdmin]=true [companies]="companies"></app-companies>
</ng-template>
<ng-template #elseTemplate>
  <ng-container *ngIf="isCouponView; then thenTemplate2; else elseTemplate2"></ng-container>
  <ng-template #thenTemplate2>
    <app-coupons-list [isAdmin]=true [coupons]=coupons></app-coupons-list>
  </ng-template>
  <ng-template #elseTemplate2>
    <ng-container *ngIf="isCustomerView; then thenTemplate3; else elseTemplate3"></ng-container>
    <ng-template #thenTemplate3>
      <app-customer-list [isAdmin]=true [customers]=customers></app-customer-list>
    </ng-template>
    <ng-template #elseTemplate3>
      <ng-container *ngIf="isCartView; then thenTemplate4; else elseTemplate4"></ng-container>
      <ng-template #thenTemplate4>
        <app-cart [coupons]=coupons></app-cart>
      </ng-template>
      <ng-template #elseTemplate4>
        <app-home [coupons]=coupons></app-home>
      </ng-template>
    </ng-template>
  </ng-template>
</ng-template>