<div>
    <h3> Company ID: {{coupon.companyId}}</h3>
    <h3> Category: {{coupon.category}}</h3>
    <h3> Title: {{coupon.title}}</h3>
    <h3> Description: {{coupon.description}}</h3>
    <h3> Start Date: {{coupon.startDate | date: 'dd MMMM yyyy'}}</h3>
    <h3> Expired Date: {{coupon.endDate | date: 'dd MMMM yyyy'}}</h3>
    <h3> Amount: {{coupon.amount}}</h3>
    <h3> Price: {{coupon.price}}</h3>
    <img src="{{coupon.image}}">

    <br>
    <br>

    <a routerLink="/products">Back to List</a>
</div>